<p id="notice"><%= notice %></p>

<table class="table table-hover">
</table>
<p>
  <strong>Address:</strong>
  <%= @salon.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @salon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @salon.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @salon.website %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @salon.phone_number %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @salon.gmaps %>
</p>

